In [25]:
import pandas as pd

In [26]:
aprilweekone = pd.read_csv('../data/AprilWeekOne.csv', parse_dates = ['time'])

In [27]:
aprilweekone = aprilweekone.sort_values('time', ascending = True).reset_index()

In [31]:
aprilweekone.head()

,index,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,3048,2019-04-01 00:03:43.547000+00:00,7.8060,94.364000,10.00,5.00,mww,NaN,26.0,3.625000,...,2019-06-08T20:51:28.040Z,"116km E of Mohean, India",earthquake,7.30,1.80,0.069,20.0,reviewed,us,us
1,3047,2019-04-01 00:04:50.917000+00:00,66.3021,-157.300400,6.40,2.00,ml,NaN,NaN,NaN,...,2019-08-05T18:20:38.495Z,"69km SSW of Kobuk, Alaska",earthquake,NaN,0.30,NaN,NaN,reviewed,ak,ak
2,3046,2019-04-01 00:05:05.828000+00:00,60.7779,-151.489100,65.50,1.10,ml,NaN,NaN,NaN,...,2019-08-05T18:20:38.187Z,"14km NW of Nikiski, Alaska",earthquake,NaN,0.60,NaN,NaN,reviewed,ak,ak
3,3045,2019-04-01 00:10:22.870000+00:00,33.7025,-116.716333,16.88,0.79,ml,20.0,47.0,0.008831,...,2019-04-01T00:22:49.383Z,"4km S of Idyllwild, CA",earthquake,0.63,0.76,0.145,11.0,reviewed,ci,ci
4,3044,2019-04-01 00:11:01.449000+00:00,61.3792,-150.036900,41.00,0.80,ml,NaN,NaN,NaN,...,2019-08-05T18:20:38.769Z,"16km SSW of Big Lake, Alaska",earthquake,NaN,0.50,NaN,NaN,reviewed,ak,ak

In [29]:
aprilweekone_edited = aprilweekone[['time', 'latitude', 'longitude', 'depth','mag', 'magError', 'depthError','horizontalError', 'status']]

In [30]:
aprilweekone_edited.head()

,time,latitude,longitude,depth,mag,magError,depthError,horizontalError,status
0,2019-04-01 00:03:43.547000+00:00,7.8060,94.364000,10.00,5.00,0.069,1.80,7.30,reviewed
1,2019-04-01 00:04:50.917000+00:00,66.3021,-157.300400,6.40,2.00,NaN,0.30,NaN,reviewed
2,2019-04-01 00:05:05.828000+00:00,60.7779,-151.489100,65.50,1.10,NaN,0.60,NaN,reviewed
3,2019-04-01 00:10:22.870000+00:00,33.7025,-116.716333,16.88,0.79,0.145,0.76,0.63,reviewed
4,2019-04-01 00:11:01.449000+00:00,61.3792,-150.036900,41.00,0.80,NaN,0.50,NaN,reviewed